@mixin boxShadow($boxShadow){

    box-shadow: $boxShadow;

}

@mixin flex($flexDirection,$justifyContent,$alignItem){

    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItem;

}

@mixin padding($top,$right,$bottom,$left){

    padding: $top $right $bottom $left;

}

@mixin margin($top,$right,$bottom,$left){

    margin: $top $right $bottom $left;

}