* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

header {
  background: linear-gradient(skyblue, rgb(24, 122, 202));
  padding: 1.2rem 0 0 0;
  height: 3rem;
}
header h1 {
  text-align: center;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin: 2rem 0 0 0;
  gap: 3rem;
}
main #containHeaderList,
main #containHeaderAdd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  background: linear-gradient(skyblue, rgb(24, 122, 202));
}
main #containHeaderList span,
main #containHeaderAdd span {
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
main #formAddTask #containHeaderAdd img,
main #containList #containHeaderList img {
  width: 40px;
}
main #formAddTask {
  margin: 0 0 0 1.5rem;
  width: 470px;
}
main #formAddTask form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(130, 195, 238);
  box-shadow: 0 5px 12px rgba(222, 110, 236, 0.8);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 0 0 2rem 0;
  background-color: white;
}
main #formAddTask form input,
main #formAddTask form textarea {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(155, 155, 155);
  outline: none;
  margin: 0.8rem 0 0 0;
  font-size: 15px;
}
main #formAddTask form input:hover {
  border: 1px solid skyblue;
  box-shadow: 1px 1px 1px rgb(143, 242, 255);
}
main #formAddTask form textarea {
  height: 70px;
  width: 370px;
}
main #formAddTask #containTaskName input {
  padding: 0 0 0 1rem;
}
main #formAddTask label {
  font-weight: bold;
  color: rgb(37, 37, 37);
  font-size: 14px;
}
main #formAddTask #containTaskDateTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}
main #formAddTask #containTaskDateTime input {
  width: 170px;
}
main #formAddTask #containImage input {
  width: 368px;
}
main #formAddTask #containButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 2rem 0 0 0;
}
main #formAddTask #containButtons button {
  width: 130px;
  height: 32px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(skyblue, rgb(24, 122, 202));
  box-shadow: 2px 2px 2px rgb(175, 175, 175);
  color: white;
  font-size: 14px;
  font-weight: bold;
}
main #formAddTask #containButtons button:hover {
  background: linear-gradient(rgb(47, 127, 158), rgb(81, 161, 226));
}
main #containTaskName,
main #containTaskDateTime,
main #containTaskDescription,
main #containImage {
  margin: 1.6rem 0 0 0;
}
main #containList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 568px;
  overflow-y: scroll;
  border: 2px solid rgb(130, 195, 238);
  box-shadow: 0 5px 12px rgba(222, 110, 236, 0.8);
  border-radius: 5px;
  background-color: white;
}
main #containList ul {
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 1rem 0 0 0;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding-left: 1rem;
  gap: 2rem;
}
main #containList ul li {
  border: 1px solid skyblue;
  box-shadow: 4px 4px 4px rgb(215, 135, 235);
  border-radius: 5px;
  min-height: 230px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.6rem;
}
main #containList ul li a {
  font-weight: bold;
}
main #containList .headerLi {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 2px grey;
}
main #containList .headerLi img {
  width: 20px;
  height: 100%;
}
main #containList .imageTask {
  height: 100%;
}
main #containList .imageTask img {
  width: 80px;
}
main #containList .taskNameLi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(98, 179, 211);
  color: white;
  width: 100%;
  height: 100%;
  font-weight: bold;
}
main #containList .taskDateTimeLi {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding-left: 1rem;
}
main #containList .taskDescriptionLi {
  padding-left: 1rem;
  width: 95%;
}
main #containList .taskDescriptionLi .description {
  overflow-y: scroll;
  height: 50px;
  padding-top: 0.2rem;
}
main #containList .taskDescriptionLi p {
  width: 100%;
}
main #containList .footerLi {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
}
main #containList .containDelete {
  padding-bottom: 0.5rem;
  margin-left: 4rem;
}
main #containList .containDelete button {
  width: 90px;
  height: 25px;
  box-shadow: 2px 2px 2px rgb(56, 56, 56);
  border-radius: 3px;
  color: white;
  border: none;
  background-color: rgb(55, 133, 223);
  font-weight: bold;
}
main #containList .containDelete button:hover {
  background-color: rgb(71, 134, 185);
}

/*# sourceMappingURL=styles.css.map */
